<!-- Bruce Turner, Professor Ostrander, Spring 2019 -->
<!-- IT 328 Full Stack Web Development -->
<!-- Dating 2 Assignment -->
<!-- file: views/top-nav-bar.html -->
<!-- date: April 20 2019 -->
<include href="views/header.html">
    <nav class="navbar navbar-expand-sm  navbar-default">
        <a class="navbar-brand" href="#">My Dating Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>